body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
}

h3 {
    color: #005f6b;
}

#map {
    height: 90vh;
    width: 100%;
    border: 2px solid #005f6b;
    border-radius: 10px;
}

.footer {
    text-align: center;
    padding: 10px;
    background-color: #005f6b;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.navbar {
    background-color: #005f6b;
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}